<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>首页</title>
        <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    </head>
    <body>
        <div id="app"></div>
		<script src="$!jsCssServer/app.js"></script>
        <link rel="stylesheet" type="text/css" href="$!jsCssServer/static/css/reset.css">
    </body>
</html>